footer
  .fixed-action-btn[style="bottom: 45px; right: 24px;"]
    a.button-collapse.btn-floating.btn-large.bwnet.hide-on-large-and-up.white-text.mobile-nav[href="#" data-activates="nav-dashboard"]
      = content_tag(:i, 'menu', class: 'material-icons')